<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tovo.eat">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />


    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <!--   <uses-permission android:name="android.permission.READ_PHONE_STATE" />-->
    <application
        android:name=".utilities.MvvmApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:screenOrientation="locked"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.home.MainActivity"
            android:screenOrientation="locked"
            android:windowSoftInputMode="adjustPan">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_path_cart"
                    android:scheme="@string/deeplink_scheme" />
                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_home"
                    android:scheme="@string/deferred_deeplink_scheme" />


                 <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_cart"
                    android:scheme="@string/deferred_deeplink_scheme" />




            </intent-filter>

        </activity>

        <activity
            android:name=".ui.signup.SignUpActivity"
            android:screenOrientation="locked">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_path_signin"
                    android:scheme="@string/deeplink_scheme" />

                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_signin"
                    android:scheme="@string/deferred_deeplink_scheme" />


            </intent-filter>


        </activity>

        <activity
            android:name=".ui.address.add.AddAddressActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.address.list.AddressListActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.address.select.SelectAddressListActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.feedbackandsupport.FeedbackAndSupportActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.feedbackandsupport.support.SupportActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.feedbackandsupport.support.replies.chat.ChatActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.feedbackandsupport.support.replies.RepliesActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.feedbackandsupport.feedback.FeedbackActivity"
            android:screenOrientation="locked">

        </activity>
        <activity
            android:name=".ui.account.referrals.ReferralsActivity"
            android:screenOrientation="locked" />

        <activity
            android:name=".ui.track.OrderTrackingActivity"
            android:screenOrientation="locked">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_path_order"
                    android:scheme="@string/deeplink_scheme" />

                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_order"
                    android:scheme="@string/deferred_deeplink_scheme" />

            </intent-filter>
        </activity>

        <activity
            android:name=".ui.account.orderhistory.historylist.OrderHistoryActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.orderhistory.ordersview.OrderHistoryActivityView"
            android:screenOrientation="locked" />


        <activity
            android:name=".ui.signup.opt.OtpActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.signup.namegender.NameGenderActivity"
            android:screenOrientation="locked">


        </activity>


        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:screenOrientation="locked">

        </activity>

        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:screenOrientation="locked">


        </activity>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="locked">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>


        </activity>

        <activity
            android:name=".ui.address.edit.EditAddressActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.orderplaced.OrderPlacedActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.payment.PaymentActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.home.region.list.RegionDetailsActivity"
            android:screenOrientation="locked">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_path_region"
                    android:scheme="@string/deeplink_scheme" />

                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_region"
                    android:scheme="@string/deferred_deeplink_scheme" />
            </intent-filter>

        </activity>


        <activity
            android:name=".ui.search.dish.SearchDishActivity"
            android:screenOrientation="locked">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_path_collection"
                    android:scheme="@string/deeplink_scheme" />

                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_collection"
                    android:scheme="@string/deferred_deeplink_scheme" />

            </intent-filter>

        </activity>
        <activity
            android:name=".ui.account.edit.EditAccountActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.track.orderdetails.OrderDetailsActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.track.help.OrderHelpActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.kitchendetails.KitchenDetailsActivity"
            android:screenOrientation="locked">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_path_kitchen"
                    android:scheme="@string/deeplink_scheme" />

                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_kitchen"
                    android:scheme="@string/deferred_deeplink_scheme" />


            </intent-filter>


        </activity>
        <activity
            android:name=".ui.signup.tandc.TermsAndConditionActivity"
            android:screenOrientation="locked">


        </activity>
        <activity
            android:name=".ui.signup.privacy.PrivacyActivity"
            android:screenOrientation="locked">


        </activity>

        <activity
            android:name=".ui.signup.faqs.FaqActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.home.region.viewmore.RegionListActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".ui.account.favorites.FavouritesActivity"
            android:screenOrientation="locked" />

        <activity
            android:name=".ui.signup.fagsandsupport.FaqsAndSupportActivity"
            android:screenOrientation="locked" />


        <activity
            android:name=".ui.cart.coupon.CouponListActivity"
            android:screenOrientation="locked">


            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/deeplink_host"
                    android:pathPrefix="@string/deeplink_path_offer"
                    android:scheme="@string/deeplink_scheme" />


                <data
                    android:host="@string/deferred_deeplink_host"
                    android:pathPrefix="@string/deferred_deeplink_path_offer"
                    android:scheme="@string/deferred_deeplink_scheme" />

            </intent-filter>


        </activity>

        <activity
            android:name=".ui.home.homemenu.story.storiesactivity.StoriesTabActivity"
            android:screenOrientation="locked">


        </activity>

        <activity
            android:name=".ui.update.UpdateActivity"
            android:screenOrientation="locked" />
        <activity
            android:name=".utilities.nointernet.InternetErrorFragment"
            android:screenOrientation="locked" />
        <activity android:name=".ui.cart.funnel.FunnelActivity" />
        <activity android:name=".ui.account.chatsupport.HistoryHelpActivity" />
        <activity android:name=".ui.account.feedbackandsupport.helpcenter.HelpActivity" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHiPip3fSYDLIhyrHV3uavqH2nONtqEbw" />


        <service android:name=".ui.notification.FCMMeassagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".ui.notification.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>


        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="@bool/FIREBASE_PERFORMANCE_ENABLED" />

        <meta-data
            android:name="firebase_crash_collection_enabled"
            android:value="@bool/FIREBASE_CRASH_ENABLED" />


        <meta-data
            android:name="firebase_analytics_collection_deactivated"
            android:value="@bool/FIREBASE_ANALYTICS_DEACTIVATED" />


        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/freshchat_file_provider_paths" />

        <meta-data
            android:name="com.facebook.sdk.CodelessDebugLogEnabled"
            android:value="true" />

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_bCMW6sG1GWp36Q" />

        <!-- <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="${RAZORPAY_KEY}"
            />-->
        <!-- <meta-data
                    android:name="com.razorpay.ApiKey"
                    android:value="rzp_test_3cduMl5T89iR9G"
                    />-->

        <activity
            android:name="zendesk.support.request.RequestActivity"
            android:theme="@style/ZendeskSupportTheme" />

        <activity
            android:name="zendesk.support.requestlist.RequestListActivity"
            android:theme="@style/ZendeskSupportTheme" />
        <activity android:name=".ui.kitchendetails.viewproduct.ViewProductActivity" />

    </application>

</manifest>