<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tovo.eat">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:name=".utilities.MvvmApp"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:screenOrientation="portrait"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        tools:replace="android:allowBackup"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:windowSoftInputMode="adjustPan"
            android:name=".ui.home.MainActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:windowSoftInputMode="adjustResize"
            android:name=".ui.signup.SignUpActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.home.kitchendish.KitchenDishActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.address.add.AddAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.address.list.AddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.address.select.SelectAddressListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.feedbackandsupport.FeedbackAndSupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.feedbackandsupport.support.SupportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.feedbackandsupport.support.replies.chat.ChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.feedbackandsupport.support.replies.RepliesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.feedbackandsupport.feedback.FeedbackActivity"
            android:screenOrientation="portrait">


        </activity>
        <activity
            android:name=".ui.account.referrals.ReferralsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.track.OrderTrackingActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.account.orderhistory.historylist.OrderHistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.account.orderhistory.ordersview.OrderHistoryActivityView"
            android:screenOrientation="portrait" />


        <activity
            android:name=".ui.signup.opt.OtpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signup.namegender.NameGenderActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity
            android:name=".ui.registration.RegistrationActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.onboarding.OnBoardingActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.splash.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".ui.forgotpassword.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.address.edit.EditAddressActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.orderplaced.OrderPlacedActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.account.favorites.tab.FavoritesTabActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.payment.PaymentActivity" />
        <activity android:name=".ui.home.region.list.RegionDetailsActivity" />
        <activity android:name=".ui.search.dish.SearchDishActivity" />
        <activity android:name=".ui.account.edit.EditAccountActivity" />
        <activity android:name=".ui.track.orderdetails.OrderDetailsActivity" />
        <activity android:name=".ui.track.help.OrderHelpActivity" />
        <activity android:name=".ui.kitchendetails.KitchenDetailsActivity" />
        <activity android:name=".ui.cart.refund.RefundListActivity" />
        <activity android:name=".ui.signup.tandc.TermsAndConditionActivity" />
        <activity android:name=".ui.signup.privacy.PrivacyActivity" />
        <activity android:name=".ui.signup.faqs.FaqActivity" />
        <activity android:name=".ui.home.region.viewmore.RegionListActivity" />
        <activity android:name=".ui.account.favorites.FavouritesActivity" />

        <activity android:name=".ui.signup.fagsandsupport.FaqsAndSupportActivity" />
        <activity android:name=".ui.kitchendetails.viewimage.ViewImageActivityOP" />
        <activity android:name=".ui.kitchendetails.viewimage.ViewImageActivity" />

        <activity android:name=".ui.cart.coupon.CouponListActivity" />

        <activity android:name=".ui.home.homemenu.story.sample.SampleTabActivity" >


        </activity>

        <activity android:name=".ui.update.UpdateActivity" />
        <activity android:name=".utilities.nointernet.InternetErrorFragment" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDHiPip3fSYDLIhyrHV3uavqH2nONtqEbw" />

        <receiver android:name="com.tovo.eat.ui.forgotpassword.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>




        <service android:name=".ui.notification.FCMMeassagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver
            android:name=".ui.notification.FirebaseDataReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_live_BLJVf00DRLWexs"
            />

        <!--
                <receiver android:name="com.tovo.eat.ui.signup.opt.OTPReceiver">
                    <intent-filter>
                        <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                    </intent-filter>
                </receiver>
        -->

    </application>

</manifest>